@tailwind base;
@tailwind components;
@tailwind utilities;
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset; 
    -webkit-text-fill-color: rgba(25, 23, 23, 0.767) !important;
}
